html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: url('/background/newbg.jpeg') !important;
  background-size: cover !important;
  overflow: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#form {
  backdrop-filter: grayscale(0.5) opacity(0.8)  /* ...and on and on... */;
}
#instructions {
  background-color: black
}